.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#left-col {
  position: fixed;
  left: 0;
  top:0;
  bottom:0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #222;
  width: 260px;
  z-index:1;
}

.bar-wrap {
  padding: 2rem;
}
#right-col {
  margin-left: 260px;
}

.release-date {
	color: #ddd;
}

.c {
	background-color: rgba(0,160,200,0.9);
}

.white-text {
	color: #fff !important;
}

.bold {
	font-weight: bold;
}

.rent-buy-container {
	text-align: center;
}

.rent-buy-btn {
	padding:8px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: rgba(0,0,0,.075);
	border: solid 2px #fff;
	border-radius: 6px;
	color: #fff;
	font-size: 1.15em;
}

.rent-buy-btn:hover {
	background-color: rgba(0,0,0,.475);
	transition: .75s;
}

#login-line {
  width: 100%;
  margin: 2rem;
}

input[name="size"]{
  width: 50%;
}
