.space-left {
	margin-left: 260px;
}
.bkg {
	position:fixed;
	top: 0;
	left: 120px;
	background-color: rgba(0,0,0,1);
	width: 100%;
	height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	margin-left: 100px;
	z-index: 200;
}

.z {
	z-index: 90;
	opacity: .85;
	margin-left: 260px;
}

.ol {
	background-color: rgba(0,160,200,0.7);
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 210;
}

.content {
	margin-top: 10%;
	width: 85%;
	position: relative;
	z-index: 300;
	color: #fff;
}

.space-left button {
  margin-right: 10px;
}

.overview {
	font-size: 1.25em;
}

.flexify-btns {
	display: flex;
}

.buy {
	max-width: 160px;
	flex: 1;
}

.rent {
	max-width: 180px;
	flex: 1;
}

h4 {
	color: #fff;
}
